<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WRAN">
    <Appenders>
     <Console name="Console" target="SYSTEM_OUT">
         <!--指定日志格式-->
       <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"></PatternLayout>
     </Console>
        <RollingFile name="RollingFileInfo" immediateFlush="true"
                     fileName="D:/info.log" filePattern="D:/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="INFO"/>
            </Filters>
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <!-- 每个日志文件最大2MB -->
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <root level="all">
           <appender-ref ref="Console"/>
           <appender-ref ref="RollingFileInfo"/>
        </root>
    </Loggers>
</Configuration>